/* NAVBAR */
.navbar {
    position: fixed;
    top: 10px;
    right: 0;
    margin-right: 10px;

    background: #1a1a1a;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    gap: 20px;

    border: 2px solid #00e676;
    border-radius: 10px;

    z-index: 1000;
}

/* logo */
.navbar h1 {
    font-size: 1.2rem;
}

/* links */
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: #00c853;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.15s;
}

/* hover */
.nav-links a:hover {
    color: #ff0000;
    border-bottom: 2px solid #00c853;
}