/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: #0f0f0f;
    color: white;
    border: 2px solid #00c853;
    text-align: center;
}

/* HEADER (barra do topo) */
.header {
    width: 100%;
    background: #1a1a1a;
    padding: 20px 0;

    border-top: 2px solid #00c853;
    border-bottom: 4px solid #03be64;
}

/* título dentro do header */
.header h1 {
    margin: 0;
    font-size: 3rem;
}

/* NAVBAR (canto superior direito) */
.navbar {
    position: fixed;
    top: 10px;
    right: 10px; /* 🔥 agora no canto direito */

    background: #1a1a1a;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    gap: 20px;

    border: 2px solid #00e676;
    border-radius: 10px;

    z-index: 1000;
}

/* título da navbar (tipo logo) */
.navbar h1 {
    font-size: 1.2rem;
}

/* links lado a lado */
.nav-links {
    display: flex;
    gap: 15px;
}

/* estilo dos links */
.nav-links a {
    color: #00c853;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.15s;
}

/* hover */
.nav-links a:hover {
    color: #ff0000;
    border-bottom: 2px solid #00c853;
}

/* 🔥 CONTEÚDO */
.content {
    margin-top: 100px;
    padding-top: 20px;

    border-top: 1px solid #333;
}

/* subtítulo */
h2 {
    margin-bottom: 20px;
    font-weight: normal;
    color: #aaa;
}

/* título geral */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* links */
a {
    text-decoration: none;
}

/* botões estilo loja */
button {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 15px;
    font-size: 1.1rem;

    background: linear-gradient(135deg, #00c853, #00e676);
    color: black;

    border: none;
    border-radius: 12px;

    cursor: pointer;
    transition: 0.15s;
}

/* hover */
button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #00e676, #00c853);
}

/* click */
button:active {
    transform: scale(0.98);
}
